@import './variables.scss';
@import './awesome/css/all.css';
@font-face {
  font-family: "Lato Bold";
  src: url("/fonts/Lato-Bold.ttf")
 }
 @font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf")
 }
 @font-face {
  font-family: "Rounds";
  src: url("/fonts/Rounds.otf")
 }
 @font-face {
  font-family: "Lobster";
  src: url("/fonts/Lobster-Regular.ttf")
 }
 @font-face {
  font-family: "Balsamiq-Bold";
  src: url("/fonts/BalsamiqSans-Bold.ttf")
 }
 @font-face {
  font-family: "Rubic";
  src: url("/fonts/RubikMonoOne-Regular.ttf")
 }
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Lato';
  color: #2a435d;
}
body{
  background: url(/images/fon.png);
}
.navbar{
  font-family: 'Lato Bold';
  background-color: $blue;
  top: 40px;
  z-index: 100;
  a:hover{
    color: $yellow;
  }
}
.header-top{
  background-color: $blue;
  color: white;
  a:hover{
    color: $yellow;
    text-decoration: none;
  }
}
.customer-area span {
  // margin-right: 20px;
  display: inline-block;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  height: 42px;
  width: 42px;
  a{padding: 0;}
  a:hover{
    color: white;
  }
}
.customer-area span:hover{
  background-color: $red;
}
a {
  color: inherit;
  text-decoration: none;
  padding: 0 5px;
}
a:hover{
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.product{
  // border: 1px solid #e6e6e6;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #ffffff;
  h5{
    padding: 20px 0;
    // font-weight: 900;
    font-family: 'Rubic';
  }
  a{
    padding: 0;
  }
}
.price{
  font-weight: 700;
    font-size: 14px;
    color: #2a435d;
    // text-transform: capitalize;
    font-family: 'Rubic';
    // color: $red;
    display: flex;
    align-items: center;
}
.cart-opt{
  // width: 40px;
    // position: absolute;
    top: 20px;
    right: 30px;
    // visibility: hidden;
    // opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    a:hover{
      span{
        color:white;
      }
    }
    span {
      border: 1px solid #cc3333;
      background: transparent;
      // margin-top: 10px;
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size: 22px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      color: $red;
      a:hover{
        color: white;
      }
    }
    span:hover{
      background-color: $red;
      a{
        color: white;
      }
    }
}
.composition{
    text-transform: uppercase;
    font-size: 12px;
}
.user{
  display:inline-block;
  color: white;
  a:hover{
    color: $yellow;
  }
}
$fh: 100px;
.footer{
  color: white;
  // height: $fh;
  // margin-top: -$fh;
}

#__next{
  height: 100%;
  position: relative;
}
.wrap{
  min-height: 100%;min-height: 100%;
  height: auto !important;
  height: 100%;
  // padding-bottom: $fh;
}
.form-signin{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: white;
  // border: 1px solid $blue;
  border-radius: 5px;;
}
.group{
  font-family: 'Rubic';
  color: $red;
}
.product-page{
  background-color: white;
  // border: 1px solid $yellow;
  border-radius: 5px;
  h2{
    font-family: 'Rubic';
  }
}
.table{
  thead{
    background-color: $blue;
    color: white;
  }
}
.shadow{
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.bg-white{
  background-color: white;
}
.hide{
  display: none;
}
.btn-remove{
  color: #dee2e6;
  cursor: pointer;
}
.btn-remove:hover{
    color: $red;
}
.rubic{
  font-family: 'Rubic';
}
.white{
  color: white;
}